body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(207, 207, 207, 0.06);
}

.nopadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

a.left-admin-menu {
    font-size: 1.3em;
    color: #777 !important;
}

a:hover {
    cursor: pointer;
}

hr {
    margin: 0px 0px !important;
}

#left-menu {
    position: relative;
    z-index: 1001;
    border-radius: 5px;
    border-right: 1px solid rgba(64, 44, 44, 0.09);
    background-color: rgba(255, 255, 255, 1);
}

#ads-preview-block {
    display: none;
    word-wrap: break-word;
}

#ads-preview-block .panel-body {
    padding: 10px 10px;
}

#plugins {
    overflow-x: hidden;
    overflow-y: scroll;
}

.popover {
    width: 400px;
    padding: 10px !important;
}

