.border-bottom {
    border-bottom: 1px solid #eee;
}

.border-left {
    border-left: 1px solid #eee;
}

.border-right {
    border-right: 1px solid #eee;
}

.ads .complain {
    font-size: 1.2em;
    padding: 10px 0;
    margin-top: 40px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}