.navbar-form .dropdown {
    position: relative;
}

.navbar-form .dropdown > a {
    display: inline-block;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-form .dropdown > a .caret {
    position: absolute;
    top: 15px;
    right: 6px;
}